/* $Id: styles.css,v 1.9 2001/12/24 14:07:57 lestinsky Exp $ */
body	    { background-color:#ffffff; }
h1,h2,h3,h4 { font-family:Verdana,Lucida; }
a,b,dt	    { font-family:Helvetica,Arial; }
a:link      { color:#000463; }
a:visited   { color:#000463; }
a:active    { color:#111473; }
code,i      { color:#000463; }
.menu	    { font-family:Helvetica,Arial; 
              font-size:small; 
              background-color:#e9e9f0;
              white-space:nowrap; }
.border     { background-color:#9090b0; }
.prop       { font-family:Courier; }
.small      { font-size:small; }
.warn       { color:red; }
