/* $Id: styles.css,v 1.4 2000/11/21 01:57:16 michael Exp $ */
body	{ background-color:#ffffff; }
h1,h2,h3,h4 { font-family:Verdana,Lucida; }
.menu	{ font-family:Helvetica,Arial; }
a,b	{ font-family:Helvetica,Arial; }
